/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
body {
  background-color: #f5f1f1; /* Remplacez cette couleur par la teinte de rose que vous préférez */
}

/* Ajoutez ceci à votre fichier app.css */
/* Ajoutez ceci à votre fichier app.css */


/* Ajoutez ceci à votre fichier app.css */
.navbar {
  top: 0;
  width: 100%;
  background-color: #2d2d2d;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
/* Nouveaux styles pour DiscountBanner dans votre fichier CSS */
/* Ajoutez ces styles à votre fichier CSS */
/* Ajoutez ces styles à votre fichier CSS ou votre fichier de configuration Tailwind */
/* DiscountBanner.css */
.discount-banner {
  background-color: #ff7675;
  color: #fff;
  padding: 1px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discount-content {
  max-width: 800px;
  margin: 0 auto;
}

.discount-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.discount-description {
  font-size: 1rem;
  margin-bottom: 15px;
}

.discount-code {
  font-weight: bold;
  color: #e74c3c;
}

.discount-code-text {
  background-color: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-primary {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #c0392b;
}





.footer {

  bottom: 0;
  width: 100%;
  background-color: #2d2d2d;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
}

/* app.css */

.centered-h1 {
  text-align: center;
  padding: 2rem;
  background-color: #c7b1b1; /* Ajoutez la couleur de fond que vous préférez */
  border-radius: 10px; /* Ajoutez une bordure arrondie pour un look moderne */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre pour la profondeur */
  max-width: 800px; /* Ajoutez une largeur maximale pour le centrage sur de grands écrans */
  margin: 0 auto; /* Centrez horizontalement sur de petits écrans */
  color: #333; /* Couleur du texte, ajustez selon vos préférences */
  font-size: 2rem; /* Taille de la police, ajustez selon vos préférences */
}

/* Ajoutez d'autres styles au besoin */
/* app.css */

.product-carousel {
  max-width: 400px;
  margin: 0 auto;
}
/* Ajoutez ces styles à votre fichier CSS */
.highlight {
  background-color: #ffe6e6; /* Couleur de fond pour mettre en valeur */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
  transition: background-color 0.3s ease; /* Transition en douceur */
}

.highlight:hover {
  background-color: #ffb3b3; /* Couleur de fond au survol */
}


/* app.css */

/* Navbar */
.navbar-container {
  background-color: #2d2d2d;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer-container {
  background-color: #2d2d2d;
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.brand-name a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #8a8a8a;
}

.user-actions {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.social-icons {
  display: flex;
  margin-left: 10px;
}

/* Ajoute d'autres styles selon tes besoins */
/* Ajoutez ces styles à votre fichier CSS */

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  padding: 20px;
  border-radius: 8px;
  background-image: url('/images/Banner_tasse_hilight.png');
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  min-height: 500px; /* Ajustez cette valeur selon vos besoins */

  /* Ajoutez le clip-path ici pour épouser les contours de la bannière */

  /* Style féerique */
  position: relative;
  overflow: hidden;
}

.section-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient( rgba(235, 223, 223, 0.39), rgba(78, 30, 30, 0.199));
}

/* Ajoutez des styles spécifiques à votre texte ici */
.section-text {
  font-size: 24px;
  color: #fff; /* Couleur du texte */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour le texte */
}

/* Ajoutez d'autres styles au besoin */




.left-section {
  width: 100%;

  flex: 1;
}

 

/* Ajoutez d'autres styles au besoin */

/* Ajoutez ces styles à votre fichier CSS ou votre fichier de configuration Tailwind */


/* PopupModal.css */
/* PopupModal.css */
.popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Ajustez la largeur selon vos préférences */
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  text-align: center;
}

.discount-code {
  margin-top: 15px;
}

.btn-primary {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  
}

.btn-primary:hover {
  background-color: #c0392b;
}

.popup-modal-closed {
  animation: none !important;
  transition: none !important;
}


/* App.css */
.egirldelivery-font {
  font-family: 'Bungee Spice', cursive; /* Remplacez 'Bungee Spice' par le nom exact de la police si nécessaire */
}
